// =============================================================================
// Styleguide
// =============================================================================

// SASS import
// -----------------------------------------------------------------------------
//
// Purpose: Import our site SASS
//
//
// 1.
//
// -----------------------------------------------------------------------------

// 1
@import "../../../resources/sass/site";


// Styleguide Columns
// -----------------------------------------------------------------------------
//
// Purpose: Any styleguide bootstrap columns
//
//
// 1. 50% width of container
// 2. 33% width of container
// 3. SVGs
//
// -----------------------------------------------------------------------------

.style-col {
    @include make-col-ready();
    @include make-col(12);
    margin-top: $unit*5;

    @include media-breakpoint-up(md) {
        @include make-col(10);
    }

    &--center {
        text-align: center;
    }

    // 1
    &--half {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }

    // 2
    &--third {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    // 3
    >svg {
        fill: $color-black;
        height: $unit*3;
        margin-right: $unit*2;
        max-width: $unit*2;
    }
}


// Styleguide Index
// -----------------------------------------------------------------------------
//
// Purpose: Used to style up the index page
//
//
// 1.
//
// -----------------------------------------------------------------------------

.style-title {
    @include make-col-ready();
    @include make-col(12);
    margin-top: $unit;

    @include media-breakpoint-up(md) {
        @include make-col(8.5);
        margin-top: $unit*4;
    }

    @include media-breakpoint-up(lg) {
        @include make-col(8);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(7);
    }
}

.style-logo {
    @include make-col-ready();
    @include make-col(12);
    background-color: #eee;
    text-align: center;
    padding: 40px 0;

    @include media-breakpoint-up(md) {
        margin-top: $unit*3;
        padding: 60px;
    }

    @include media-breakpoint-up(xl) {
        margin-top: $unit*2;
        padding: 70px;
    }

    img {
        width: 200px;

        @include media-breakpoint-up(md) {
            width: 300px;
        }
    }
}

.style-section {
    @include make-col-ready();
    @include make-col(6);
    margin-top: $unit*2;

    @include media-breakpoint-up(md) {
        @include make-col(4);
        margin-top: $unit*5;
    }

    @include media-breakpoint-up(lg) {
        @include make-col(3);
    }

    &:first-of-type {
        @include media-breakpoint-down(sm) {
            @include make-col(12);
        }
    }

    &:not(:first-of-type) {
        @include media-breakpoint-up(lg) {
            @include make-col-offset(1);
        }
    }

    h2 {
        text-decoration: underline;
    }

    p {
        margin: $unit 0;
    }

    ul {
        @include para;

        li {
            margin-bottom: $unit;
        }

        a:hover {
            text-decoration: none;
        }
    }

    a {
        color: currentColor;
    }
}


// Styleguide Footer
// -----------------------------------------------------------------------------
//
// Purpose: Footer
//
//
// 1.
//
// -----------------------------------------------------------------------------

.style-footer {
    @include make-col-ready();
    @include make-col(12);
    text-align: center;;
    margin-bottom: $unit*3;
    margin-top: $unit*3;

    @include media-breakpoint-up(md) {
        margin-bottom: $unit*4;
        margin-top: $unit*4;
    }

    a {
        display: inline-block;
        width: 120px;

        img {
            width: 100%;
        }
    }
}


// Styleguide Colours
// -----------------------------------------------------------------------------
//
// Purpose: All the colours used in the styleguide
//
//
// 1.
//
// -----------------------------------------------------------------------------

.style-color-container {
    @include make-col-ready();
    @include make-col(6);
    margin-bottom: $unit*2;

    @include media-breakpoint-up(xs) {
        @include make-col(6);
    }

    @include media-breakpoint-up(md) {
        @include make-col(4);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(3);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(2.5);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(2.25);
    }
}

.style-color {
    text-align: center;;
    border-radius: 50%;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    p {
        @include center(both);
        @include font-size(1.2);
        background-color: rgba($color-black, 0.3);
        color: $color-white;
        font-weight: 700;
        padding: $unit*0.5;

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }

    + .style-color {
        margin-left: $unit*2;
    }

    &--primary {
        background-color: $color-brand-primary;

        p {
            &::after {
                content: "" + $color-brand-primary;
            }
        }
    }

    &--secondary {
        background-color: $color-brand-secondary;

        p {
            &::after {
                content: "" + $color-brand-secondary;
            }
        }
    }

    &--grey-dark {
        background-color: $color-grey-dark;

        p {
            &::after {
                content: "" + $color-grey-dark;
            }
        }
    }

    &--grey {
        background-color: $color-grey;

        p {
            &::after {
                content: "" + $color-grey;
            }
        }
    }

    &--grey-light {
        background-color: $color-grey-light;

        p {
            &::after {
                content: "" + $color-grey-light;
            }
        }
    }

    &--validation-error {
        background-color: $color-validation-error;

        p {
            &::after {
                content: "" + $color-validation-error;
            }
        }
    }

    &--validation-success {
        background-color: $color-validation-success;

        p {
            &::after {
                content: "" + $color-validation-success;
            }
        }
    }
}


// Styleguide Type
// -----------------------------------------------------------------------------
//
// Purpose: Type settings e.g. font, letter spacing, line height
//
//
// 1. We want to show all the different heading & para font sizes so setting up classes here to match our mixins
//
// -----------------------------------------------------------------------------

.style-type {
    @include font-size(1.2);
    background-color: rgba($color-black, 0.15);
    float: left;
    font-weight: 700;
    margin-top: $unit;
    padding: $unit*0.5;
}

// 1
.heading-h0 {
    @include heading-h0;
}

.heading-h1 {
    @include heading-h1;
}

.heading-h2 {
    @include heading-h2;
}

.heading-h3 {
    @include heading-h3;
}

.heading-h4 {
    @include heading-h4;
}

.heading-h5 {
    @include heading-h5;
}

.heading-h6 {
    @include heading-h6;
}

.para-large {
    @include para-large;
}

.para-small {
    @include para-small;
}


// Styleguide Form
// -----------------------------------------------------------------------------
//
// Purpose: Styleguide form layout
//
//
// 1.
//
// -----------------------------------------------------------------------------

.styleguide-form {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    &__validation {
        @include make-col-ready();
        @include make-col(12);
        margin-bottom: $unit*2;
    }

    &__form-field {
        @include make-col-ready();
        @include make-col(12);
        margin-bottom: $unit*2;
    }
}


// Styleguide Grid
// -----------------------------------------------------------------------------
//
// Purpose: Solid colour blocks to show how the grid will render
//
//
// 1.
//
// -----------------------------------------------------------------------------

.style-grid {
    @include make-col-ready();

    &::before {
        background-color: $color-black;
        content: "";
        display: inline-block;
        height: 100px;
        width: 100%;
    }
}

.style-grid--12 {
    @include make-col(12);
}

.style-grid--6 {
    @include make-col(6);
}

.style-grid--4 {
    @include make-col(4);
}

.style-grid--3 {
    @include make-col(3);
}

.style-grid--2 {
    @include make-col(2);
}

.style-grid--1 {
    @include make-col(1);
}
