// =============================================================================
// Article
// =============================================================================

// Article
// -----------------------------------------------------------------------------
//
// Purpose: An individual article
//
//
// 1. Removes background of progress bar for FF & IE10+
// 2. Removes default border of progress bar in FF/Opera
// 3. Sets the color of the progress bar in IE10+
// 4. Sets the progress bars background to transparent
// 5. Sets the progress indicator in the bar to a color
//
// -----------------------------------------------------------------------------

@import "../site.scss";

.c-article {
    @include component-margins;
}

.c-article__btn-container {
    @include component-margins-bottom;
    @include make-col-ready;
    @include make-col(12);
    text-align: center;
}

.c-article__content {
    &:first-of-type {
        @include make-col-ready;
        @include make-col(6);

        @include media-breakpoint-up(md) {
            @include make-col(3);
        }
    }

    &:last-of-type {
        @include make-col-ready;
        @include make-col(6);

        @include media-breakpoint-up(md) {
            @include make-col(9);
        }
    }

    h2 {
        @include heading-h3;
        margin-bottom: $unit;
    }

    p, li {
        @include para;
    }

    ul {
        list-style-type: disc;
        padding-left: $unit*2;
    }
}

.c-article__content-section {
    @include make-col-ready;
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(4);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(3);
    }

    &:nth-child(n+2) {
        @include media-breakpoint-down(sm) {
            margin-top: $unit*3;
        }
    }

    &:nth-child(n+4) {
        @include media-breakpoint-only(md) {
            margin-top: $unit*4;
        }
    }

    &:nth-child(n+5) {
        @include media-breakpoint-up(lg) {
            margin-top: $unit*4;
        }
    }
}

.c-article__content-wrapper {
    background-color: $color-grey-light;
    border-radius: $unit;
    height: 100%;
    padding: $unit*2;
}


// Article Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default article
//
//
// 1.
//
// -----------------------------------------------------------------------------

// 1