// =============================================================================
// Headings & Paragraph
// =============================================================================

// Headings & Paragraph styles
// -----------------------------------------------------------------------------
//
// Purpose: We define all our heading & p styles here so the classes & mixins can be used throughout our site
//
//
// 1. Headings
// 2. Paragraphs
//
// -----------------------------------------------------------------------------

// 1
@mixin heading-h0() {
    @include font-size(5.6);
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 60px;
}

@mixin heading-h1() {
    @include font-size(4);
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 48px;
}

@mixin heading-h2() {
    @include font-size(3.2);
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 38px;
}

@mixin heading-h3() {
    @include font-size(2.4);
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 32px;
}

@mixin heading-h4() {
    @include font-size(1.8);
    font-weight: 500;
    letter-spacing: normal;
    line-height: 28px;
}

@mixin heading-h5() {
    @include font-size(1.6);
    font-weight: 500;
    letter-spacing: normal;
    line-height: 24px;
}

@mixin heading-h6() {
    @include font-size(1.4);
    font-weight: 500;
    letter-spacing: normal;
    line-height: 20px;
}

// 2
@mixin para() {
    @include font-size(1.6);
    line-height: 160%;

    @include media-breakpoint-up(md) {
        @include font-size(1.7);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(1.8);
    }
}

p {
    @include para;
}

@mixin para-large() {
    @include font-size(2);
    line-height: 160%;

    @include media-breakpoint-up(md) {
        @include font-size(2.2);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(2.4);
    }
}

@mixin para-small() {
    @include font-size(1.3);
    line-height: 160%;

    @include media-breakpoint-up(md) {
        @include font-size(1.4);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(1.5);
    }
}